<%= form_for(@schedule) do |f| %>
  <div class="row">
    <%= render :partial => 'parts/error_explanation', :locals => {:object => @schedule} %>
     <div class="col-md-6">
      <div class="form-group">
        <%= f.fields_for :availability do |avail_fields| %>
          <%= render :partial => 'availabilities/form', :locals => {:f => avail_fields} %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit :class => 'form-control btn btn-primary' %>
      </div>
    </div><!--col-->
  </div><!--row-->
   <div class="row">

  </div><!--row-->
<% end %>
