<div class="hours_available">
  <% Availability::DAYS.each do |day| %>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group open_time_select">
            <% attr = "#{day}_open".to_sym %>


            <%= f.label attr, :class => 'control-label' %>

            <div class="form-inline">
              <%= f.time_select attr, {:minute_step => 5, :ampm => true},
                                :class => 'form-control', :value => f.object.send(attr) %>
            </div>
          </div>
        </div><!--col-->

        <div class="col-xs-6">
          <div class="form-group close_time_select">
            <% attr = "#{day}_close".to_sym %>
            <%= f.label attr, :class => 'control-label' %>
            <div class="form-inline">
              <%= f.time_select attr, {:minute_step => 5, :ampm => true},
                                :class => 'form-control', :value => f.object.send(attr) %>
            </div>
          </div>
        </div><!--col-->
      </div><!--row-->

  <% end %>

  <% unless f.object.new_record? %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <h3>Scheduled Closures</h3>
            <ul>
              <% f.object.availability_exceptions.each do |ex| %>
                  <li>
                    <%= link_to ex.name, edit_hours_available_exception_to_availability_path(f.object, ex) %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div><!--col-->
      </div><!--row-->

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= link_to 'Schedule Closure', new_availability_availability_exception_path(f.object),
                        :class => 'btn btn-success form-control' %>
          </div>
        </div><!--row-->
      </div><!--col-->
  <% end %>

  <script>
      function hideHours(){

          $('#open_close_toggle').html('open');
      }
      function showHours(){

          $('#open_close_toggle').html('close');
      }
      function toggleHours(){
          $(document).on('click', '#open_close_toggle', function(){
              if($(this).hasClass('closed')){
                  showHours();
              } else {
                  hideHours();
              }
          })
      }

  </script>
</div>